.contact {
    display: flex;
    flex-direction: column;
    background: #EAF2FD;
    justify-content: space-between;
}

.contact__title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 1.5rem;
}

.contact__text {
    padding: 1rem;
}

.contact__form {
    padding: 1rem;
}

.form__label {
    font-size: 22px;
    margin-bottom: 1rem;
}

.input-container {
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    border-bottom: 1px solid #d6eaff;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
}

.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #2A7AE4;
}

.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 18px;

    transition: all 0.25s;
}

.input:not(:placeholder-shown)+.input-label,
.input:focus+.input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

.input-container--invalid {
    margin-bottom: 0.5rem;
}

.input-container--invalid .input {
    border: 1px solid #df2525;
    border-radius: 7px;
}

.input-container--invalid .input-label {
    color: #df2525;
}

.input-message-error {
    display: none;
}

.input-container--invalid .input-message-error {
    color: #df2525;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.textarea {
    box-sizing: border-box;
    border: 1px solid #d6eaff;
    padding: 0.5rem;
    border-radius: 7px;
    width: 100%;
    min-height: 3rem;
  }
  
  .textarea-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  
  .textarea::placeholder {
    visibility: hidden;
  }
  
  .textarea:focus {
    outline: none;
    border-bottom: 2px solid #2A7AE4;
  }
  
  .textarea-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 20px;
    transition: all 0.25s;
  }
  
  .textarea:not(:placeholder-shown) + .textarea-label,
  .textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: -1.25rem;
    transition: all 0.25s;
  }
  
  .textarea-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .textarea-container--invalid .textarea {
    border: 1px solid #df2525;
  }
  
  .textarea-container--invalid .textarea-label {
    color: #df2525;
  }
  
  .textarea-mensaje-error {
    display: none;
  }
  
  .textarea-container--invalid .textarea-mensaje-error {
    display: block;
    color: #df2525;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }

  @media screen and (min-width:1440px){
    .contact__form{
      margin-left: 15%;
      margin-right: 15%;
    }
    .contact__title{
      font-size: 2rem;
    }
    .contact__text{
      font-size: 1.25rem;
      text-align: center;
    }
  }
