.description{
    display: flex;
    margin: 1.25rem;
    flex-direction: column;
}

.description__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    font-weight: 700;
}

.description__text{
    padding-top: 0.75rem;
}

.description__links{
    padding-top: 0.75rem;
    font-size: 0.85rem;
}

.description__list{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.description__list__item{
    display: flex;
    align-items: center;
}