.education{
    background: #dce8f8;
}

.education__title{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 1.5rem;
}

.education__container{
    display: flex;
    flex-wrap: wrap;
}

.education__card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 12px;
    box-shadow: 1px 1px 5px 4px rgba(173,173,173,1);
}

.education__card__content{
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.education__card__header{
    font-weight: 700;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.2rem;
}

.education__card__text{
    padding-top: 0.25rem;
}

.education__card__image{
    width: 100%;
    height: 150px;
    object-fit: fill;
}

@media screen and (min-width:0px) {
    .education__card {
        width: 100%;
    }
}

@media screen and (min-width:768px){
    .education__card{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (min-width:1440px){
    .education__container{
        padding: 16px;
    }
    .education__card {
        margin: 8px;
        width: calc(33.33% - 3rem);
    }
    .education__title{
        font-size: 2rem;
    }

    .education__card__header{
        font-size: 1.25rem;
    }

    .education__card__text{
        font-size: 1rem;
    }
}