.hobbies {
    padding: 1rem;
}

.hobbies__container {
    display: flex;
    flex-wrap: wrap;
}

.hobbies__title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.hobbies__card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 3px 32px -3px rgba(84, 84, 84, 0.77);
}

.hobbies__card p {
    text-align: center;
    font-weight: 500;
    padding-top: 0.5rem;
}

.hobbies__icon {
    min-width: 65px;
    max-width: 70px;
    height: auto;
}

@media screen and (min-width:0px) {
    .hobbies__card {
        width: calc((100% / 2 ) - 2.5rem);
    }
}

@media screen and (min-width:768px) {
    .hobbies__card {
        width: calc(33.33% - 3rem);
        margin-left: 1.1rem;
    }
}

@media screen and (min-width:1440px){
    .hobbies{
        margin-bottom: 2rem;
    }
    .hobbies__title{
        font-size: 1.5rem;
    }
    .hobbies__card{
        width: calc((100% / 6) - 3rem);
    }
}