.projects__title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 1.5rem;
}

.projects__card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.projects__card__content {
    padding-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.projects__card__header {
    font-weight: 700;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.2rem;
}

.projects__card__text {
    padding-top: 0.25rem;
}

.projects__card__buttons {
    padding-top: 0.25rem;
}

.projects__card__buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-decoration: none;
}

@media screen and (min-width:1440px){
    .projects__title{
        font-size: 1.5rem;
    }
    .projects__card__header{
        font-size: 1.25rem;
    }
    .projects__card__text{
        font-size: 1rem;
    }
    .projects__card__buttons button{
        font-size: 0.85rem;
    }
}

